<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apagar Aluno</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Tem certeza que deseja apagar o aluno {{ aluno.nome }}?</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <button type="submit" class="btn btn-danger">Sim, Apagar</button>
                <a href="{% url 'index' %}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
